<div class="row">
	<div class="col-md-5">
		<h1>Primera Row, mitad izquierda</h1>
		<p>Hola estamos en la mitad izquierda!</p>
	</div>
	<div class="col-md-5">
		<h1>Primera Row, mitad derecha</h1>
		<p>Hola estamos en la mitad derecha!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<h1>Segunda Row, mitad izquierda</h1>
		<p>Hola estamos en la mitad izquierda!</p>
	</div>
	<div class="col-md-5">
		<h1>Segunda Row, mitad derecha</h1>
		<p>Hola estamos en la mitad derecha!</p>
	</div>
</div>